/* Remove highlight on hover on old files layout. */
table.files tr.navigation-focus td {
	background: inherit !important;
}

/* Remove highlight on hover on new files layout and issues (very lax match). */
div.navigation-focus {
	background: inherit !important;
}

/* Add a separator between rows. */
.border-top-0 {
	border-top: 1px solid #e1e4e8 !important;
}

/* Fix extra spacing in Asciidoc lists. */
.markdown-body li>p {
	margin-top: 0px !important;
	margin-bottom: 0px !important;
}
