/* Remove highlight on hover on files layout. */
.tree-holder .tree-table tr:hover:not(.tree-truncated-warning) td {
	background: inherit !important;
	border-top: 1px solid #dfdfdf !important;
	border-bottom: 1px solid #dfdfdf !important;
}

/* Fix extra spacing in Asciidoc lists. */
.md li>p {
	margin-top: 0px !important;
	margin-bottom: 0px !important;
}
